@media only screen and (max-width:980px) {
body {
background-image: url("../../images/washi-pattern-01.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
}

@media only screen and (min-width:981px) {
body {
background-image: url("../../images/washi-pattern-01.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
}
/*
@media only screen and (min-width:980px) {
body {
background-image: url("../../images/bg1.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
}
*/
