@media only screen and (max-width:1300px) {
body {
background-image: url("../../images/a.jpeg");
background-size: cover;
}
}

@media only screen and (min-width:1301px) {
body {
background-image: url("../../images/washi-pattern-02.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
}
/*
@media only screen and (min-width:980px) {
body {
background-image: url("../../images/bg1.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
}
*/
